# --- Dependencias de Node.js ---
# Aunque instalaste http-server globalmente, si alguna vez
# instalas algo local, esto evita subir miles de archivos basura.
node_modules/
npm-debug.log

# --- Archivos del Sistema Operativo ---
# Archivos temporales de Mac y Windows que no sirven a nadie más.
.DS_Store
Thumbs.db
Desktop.ini

# --- Configuración del Editor (VS Code) ---
# Configuraciones locales de tu editor que no deberían forzarse a otros.
.vscode/
*.code-workspace

# --- Archivos temporales o de error ---
*.log
dist/
build/

# --- (Opcional) Archivos pesados de diseño ---
# Si tienes los .psd de Photoshop o .blend de Blender originales
# y solo usas los .jpg o .gltf exportados, descomenta esto:
# *.psd
# *.blend